/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
    macros {
        sft_y_base: sft_y_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&to 0>,
                <&macro_press>,
                <&kp RIGHT_SHIFT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp RIGHT_SHIFT>;

            label = "SFT_Y_BASE";
        };

        mom_base: mom_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&to 0>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&to 0>;

            label = "MOM_ALT";
        };

        alt_tab: lalt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LEFT_ALT>, <&macro_tap>, <&kp TAB>;

            label = "LALT_TAB";
        };

        mom_mov: mom_mov {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&to 0>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&to 1>;

            label = "MOM_MOV";
        };

        fun_base: fun_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&to 0>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&to 0>;

            label = "FUN_BASE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Heliks049 {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | GRAVE  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  DEL   |
            // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
            // |  CTRL  |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |   '    |
            // |  SHIFT |   Z    |   X    |   C    |   V    |   B    |  LBKT  |                    |  RBKT  |   N    |   M    |   ,    |   .    |   /    |  RET   |
            // | ADJUST |  ESC   |  ALT   |  LGUI  | EISUU  | LOWER  | SPACE  |                    |  SPACE | RAISE  |  KANA  |  LEFT  |  DOWN  |  UP    |  RIGHT |

            bindings = <
&kp ESC         &kp N6            &kp N4            &kp N2     &kp N0         &kp N8                                       &kp N9     &kp N1         &kp N3     &kp N5             &kp N7             &kp DEL
&fun_base       &kp X             &kp B             &kp P      &kp H          &kp Y                                        &kp J      &kp RIGHT_ALT  &kp R      &kp C              &kp M              &fun_base
&kp LEFT_SHIFT  &kp I             &kp A             &kp E      &kp O          &kp U                                        &kp D      &kp T          &kp S      &kp N              &kp L              &kp RIGHT_SHIFT
&kp LEFT_ALT    &kp W             &kp PERIOD        &kp COMMA  &kp F          &kp K      &kp C_VOL_DN     &kp C_VOLUME_UP  &kp Z      &kp Q          &kp V      &kp G              &kp SEMICOLON      &kp TAB
&kp LEFT_WIN    &kp LEFT_CONTROL  &kp LEFT_CONTROL  &mom_base  &kp RIGHT_ALT  &kp SPACE  &kp BACKSPACE    &kp ENTER        &kp SPACE  &kp RIGHT_ALT  &mom_base  &kp RIGHT_CONTROL  &kp RIGHT_CONTROL  &kp LEFT_GUI
            >;
        };

        Movimiento {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |      |      |      |      |      |      |                                  |      |      |      |      |      |      |
            // |  ~   |  !   |  @   |  #   |  $   |  %   |                                  |  ^   |  &   |  *   |  (   |  )   |      |
            // |      |      |      |      |      |      |                                  |      |  _   |  +   |  {   |  }   | PIPE |
            // |      |      |      |      |      |      |  (   |                    |  )   |      |      |      | HOME | END  |      |
            // |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |

            bindings = <
&trans       &trans        &trans        &trans        &trans         &trans                                          &trans              &trans         &trans           &trans     &trans  &trans
&trans       &kp RC(HOME)  &kp RC(LEFT)  &kp UP_ARROW  &kp RC(RIGHT)  &kp RC(UP_ARROW)                                &kp RS(RCTRL)       &kp RIGHT_ALT  &kp RIGHT_ALT    &kp ESC    &none   &trans
&sft_y_base  &kp HOME      &kp LEFT      &kp DOWN      &kp RIGHT      &kp END                                         &kp RCTRL           &kp LC(C)      &kp RIGHT_SHIFT  &kp F2     &none   &sft_y_base
&trans       &none         &kp RS(TAB)   &kp RC(DOWN)  &kp TAB        &kp RC(END)       &kp C_VOL_DN    &kp C_VOL_UP  &kp K_CONTEXT_MENU  &kp LC(X)      &kp LC(V)        &kp LG(V)  &none   &trans
&trans       &trans        &trans        &mom_mov      &trans         &trans            &trans          &trans        &trans              &trans         &mom_mov         &trans     &trans  &trans
            >;
        };
    };
};
